<ion-header>
  <ion-toolbar color="dark">
    <ion-title align="center">
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-item>
          <ion-label position="placeholder">Nombre:</ion-label>
          <ion-input name="nombre" [(ngModel)]="data.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="placeholder">Apellido:</ion-label>
          <ion-input name="apellido" [(ngModel)]="data.apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="placeholder">Edad:</ion-label>
          <ion-input name="edad" [(ngModel)]="data.edad"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="placeholder" >Pais:</ion-label>
          <ion-input name="pais" [(ngModel)]="data.pais" ></ion-input>
        </ion-item>

        <ion-button expand="full" color="dark" (click)="enviarForm(data)">Enviar</ion-button>
        <ion-button expand="full" color="dark" (click)="actualizarForm(data)">Actualizar</ion-button>
        <ion-button expand="full" color="dark" (click)="MostrarDatos(data)">Mostrar</ion-button>
      </form>
</ion-content>
